@charset "UTF-8";
body {
  font: 12px/22px '微软雅黑';
}

.clearFix:after {
  content: '';
  clear: both;
  height: 0;
  display: block;
}

.clearFix {
  zoom: 1;
}

/* 图标管理 */
.vipIco,
.phoneIco,
.searchIco,
.downArrowIco {
  position: absolute;
}

.searchIco,
.downArrowIco {
  background: url("../img/lay-header.png") no-repeat;
}

/* 左侧导航栏小图标 */
.navIco1, .navIco2, .navIco3, .navIco4, .navIco5, .navIco6, .navIco7, .navIco8, .navIco9, .navIco10 {
  position: absolute;
  left: 29px;
  top: 0;
  width: 24px;
  height: 32px;
  background: url("../img/ico-message.png") no-repeat;
}

.navIco1 {
  background-position: 0 0px;
}

.navIco2 {
  background-position: 0 -32px;
}

.navIco3 {
  background-position: 0 -64px;
}

.navIco4 {
  background-position: 0 -96px;
}

.navIco5 {
  background-position: 0 -128px;
}

.navIco6 {
  background-position: 0 -160px;
}

.navIco7 {
  background-position: 0 -192px;
}

.navIco8 {
  background-position: 0 -224px;
}

.navIco9 {
  background-position: 0 -256px;
}

.navIco10 {
  background-position: 0 -288px;
}

.moveToIco,
.reNameIco,
.removeIco,
.newFileIco,
.reloadIco {
  position: absolute;
  left: 18px;
  top: 1px;
  width: 24px;
  height: 32px;
  background: url("../img/ico-message.png") no-repeat;
}

.moveToIco {
  background-position: 0 -448px;
}

.reNameIco {
  background-position: 0 -512px;
}

.removeIco {
  background-position: 0 -288px;
}

.newFileIco {
  background-position: 0 -544px;
}

.reloadIco {
  background-position: 0 -704px;
}

.smallFileIco,
.openFileIco,
.closeFileIco {
  position: absolute;
  background: url("../img/folder-tree.png") no-repeat;
}

.smallFileIco {
  top: 6px;
  left: 17px;
  width: 15px;
  height: 13px;
}

.openFileIco {
  top: 9px;
  left: 5px;
  width: 8px;
  height: 8px;
  background-position: -1px -101px;
}

.closeFileIco {
  top: 9px;
  left: 5px;
  width: 8px;
  height: 8px;
  background-position: -1px -52px;
}

.vipIco {
  left: 13px;
  top: 6px;
  width: 24px;
  height: 15px;
  background: url("../img/icon-vip-white.png") no-repeat;
}

.searchIco {
  top: 9px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-position: 0 -168px;
}

.phoneIco {
  top: 7px;
  left: 21px;
  width: 12px;
  height: 16px;
  background: url("../img/icon-phone.png");
}

.downArrowIco {
  top: 15px;
  left: 42px;
  width: 7px;
  height: 4px;
  background-position: -51px -222px;
  overflow: hidden;
}

.checkBoxIco {
  position: absolute;
  background: url("../img/ico.png") no-repeat;
}

.checkBoxIco {
  left: 10px;
  top: 10px;
  width: 14px;
  height: 14px;
  background-position: 0 -270px;
}

/* 微云网盘主页头部 */
#header {
  height: 50px;
  border-bottom: 1px solid #d8dce5;
}
#header h1 {
  width: 200px;
  height: 100%;
  float: left;
  background: url("../img/logo.png") no-repeat center;
  line-height: 1000px;
  overflow: hidden;
}

#hearderRight {
  float: right;
  padding-top: 10px;
  width: 518px;
}
#hearderRight nav {
  float: left;
  line-height: 28px;
}
#hearderRight nav a {
  position: relative;
  float: left;
  margin-right: 13px;
  border: 1px solid #147ade;
}
#hearderRight nav .headVip {
  padding: 0 12px 0 44px;
  color: #fff;
  background: #3091f2;
}
#hearderRight nav .headDow {
  padding: 0 20px 0 42px;
  color: #3091f2;
}
#hearderRight .search {
  position: relative;
  float: left;
  margin: 0 2px;
  width: 160px;
  height: 28px;
  border: 1px solid #c2c3ca;
}
#hearderRight .search input {
  font-size: 12px;
  width: 100%;
  border: none;
  background: none;
  line-height: 28px;
  padding-left: 30px;
  color: #adadad;
}

#user {
  float: left;
  margin-left: 22px;
  position: relative;
}
#user img {
  width: 32px;
  height: 32px;
}

/* 微云头部 ------> 微云左侧 */
#con {
  position: relative;
  height: calc(100vh - 61px);
  overflow: hidden;
}

#leftArea {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 4px;
  width: 160px;
  height: 100%;
  background: #eaedf4;
}
#leftArea form {
  padding: 13px 0;
  text-align: center;
}
#leftArea form label {
  display: inline-block;
  width: 130px;
  height: 36px;
  background: #3091f2;
  text-align: center;
  font-size: 14px;
  line-height: 36px;
  color: #fff;
}
#leftArea form input {
  display: none;
}
#leftArea nav {
  padding: 13px 0 6px;
  font-size: 14px;
  border-bottom: 1px solid #d8dce5;
}
#leftArea nav a {
  position: relative;
  display: block;
  margin-bottom: 7px;
  padding-left: 52px;
  line-height: 32px;
  color: #505254;
}
#leftArea nav .active {
  background: #ced4e0;
}
#leftArea nav a:hover {
  background: #e0e4ed;
}

/* 微云左侧 ------> 微云右侧 */
/* 微云右侧 头部导航 */
#rightArea {
  margin-left: 160px;
  height: 100%;
}
#rightArea header {
  padding: 12px 13px;
  height: 36px;
  background: #f5f6f9;
}
#rightArea header nav a {
  position: relative;
  float: left;
  height: 34px;
  padding: 0 18px 0 42px;
  margin-right: 5px;
  border: 1px solid #c7c9cf;
  line-height: 34px;
  color: #000;
  background: #fff;
}

/* 微云右侧 头部导航 -----> 微云右侧 内容左侧导航 */
#main {
  position: relative;
  height: 100%;
}

#rightConArea {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 184px;
  height: 100%;
  background: #fff;
  border-right: 1px solid #e6e9f0;
}

#fileTree {
  padding: 1px 0;
  margin: 0 auto;
  width: 160px;
  height: 100%;
}
#fileTree li {
  position: relative;
  margin-bottom: 1px;
  padding: 0 0 0 38px;
  border: 1px solid #fff;
  line-height: 26px;
  height: 26px;
  cursor: pointer;
}
#fileTree .focus {
  background: #e7f2fe;
  border-color: #bfdaf4;
}
#fileTree li:hover {
  background: #e7f2fe;
  border-color: #bfdaf4;
}

/*微云右侧 内容左侧导航 ------> 微云右侧 主要内容区 */
/* 头部 */
#mainArea {
  padding-left: 184px;
}
#mainArea .mainHeader {
  height: 30px;
  border-bottom: 1px solid #e6e9f0;
}
#mainArea .mainHeader .checkBox {
  float: left;
  position: relative;
  border-right: 1px solid #e6e9f0;
  width: 34px;
  height: 30px;
}
#mainArea .mainNav {
  line-height: 30px;
}
#mainArea .mainNav a {
  position: relative;
  float: left;
  padding: 0 20px 0 20px;
  margin-right: -14px;
  background: url("../img/main-path.png") no-repeat right -49px;
  color: #000;
}

#fileArea {
  padding-top: 4px;
}
#fileArea a {
  float: left;
  padding: 20px;
  margin-right: 14px;
}
#fileArea a i {
  display: block;
  margin-bottom: 13px;
  width: 64px;
  height: 54px;
  background: url("../img/file.png") no-repeat 0 -5px;
}
#fileArea a span {
  display: block;
  height: 22px;
  text-align: center;
  line-height: 22px;
  color: #000;
}
#fileArea a:hover {
  background: #e7f2fe;
}

/*# sourceMappingURL=mainPage.css.map */
